/* รีเซ็ตค่า */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f3f3f3;
    color:#333;
}

/* เมนูด้านบน */

header{
    background:#ffffff;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
    position:sticky;
    top:0;
    z-index:999;
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:70px;
}

.logo{
    font-size:26px;
    font-weight:bold;
    color:#444;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    text-decoration:none;
    color:#444;
    font-weight:bold;
    transition:.3s;
}

nav ul li a:hover{
    color:#888;
}

/* เนื้อหา */

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:50px 0;
}

/* Hero */

.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    min-height:80vh;
}

.hero-text{
    flex:1;
}

.hero-text h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero-text p{
    font-size:20px;
    color:#666;
}

.hero img{
    width:320px;
    border-radius:20px;
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}

/* กล่อง */

.card{
    background:white;
    padding:30px;
    margin:20px 0;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

/* ปุ่ม */

.btn{
    display:inline-block;
    margin-top:20px;
    background:#666;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:8px;
    transition:.3s;
}

.btn:hover{
    background:#444;
}

/* Footer */

footer{
    background:#ddd;
    text-align:center;
    padding:20px;
    margin-top:50px;
}

@media(max-width:768px){

.hero{
    text-align:center;
}

.hero img{
    margin-top:30px;
}

nav{
    flex-direction:column;
    height:auto;
    padding:20px;
}

nav ul{
    margin-top:15px;
    flex-wrap:wrap;
    justify-content:center;
}

}
